/* src/components/Header/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--dark-purple);
    color: var(--white);
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header nav a {
    margin-left: 20px;
    color: var(--white);
    text-decoration: none;
    background-color: var(--light-purple);
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.header nav a:hover {
    color: var(--white);
    background-color: var(--dark-purple);
}

.header .logo img {
    height: 50px; /* Adjust this value to your preference */
    width: auto; /* This will maintain the aspect ratio of the logo */
}