table {
    margin-top: 50px;
    border-collapse: collapse;
    color: var(--black-purple)
}

table td, table th {
    border: 1px solid var(--black-purple); /* Adds a border to each cell */
    padding: 10px; /* Adds some padding inside each cell */
}

table th {
    background-color: var(--dark-purple); /* Changes the background color of the header */
    color: white; /* Changes the text color of the header */
}

.status-icons i {
    margin: 0 5px;
    font-size: 2em;
}

.status-icons .selected {
    color: var(--light-purple);
}