table {
    margin-top: 50px;
    border-collapse: collapse;
    color: var(--black-purple)
}

table td, table th {
    border: 1px solid var(--black-purple); /* Adds a border to each cell */
    padding: 10px; /* Adds some padding inside each cell */
}

.column-header {
    cursor: pointer;
}

.status-checkboxes i {
    margin: 0 5px;
    font-size: 1.5em;
}

.status-checkboxes .selected {
    color: var(--light-purple);
}