:root {
    --light-purple: #A060A8;
    --dark-purple: #6D2B75;
    --black-purple: #2D0033;
    --white-purple: #DFD3E3;
    --white: #F0F0F0;
}

@font-face {
    font-family: 'Genty Sants';
    src: url('../public/fonts/GentySans.ttf') format('truetype');
}

body {
    font-family: 'Genty Sants', sans-serif;
    background: linear-gradient(to bottom, #A060A8 0%, #F0F0F0 50%, #A060A8 100%) !important;
}